@tailwind base;
@tailwind components;
@tailwind utilities;

#bookTables::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 4px;
  background: inherit;
}

#bookTables::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #CFCFCF;
  border-radius: 2px;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}